<div>
    <input type="text" name="pdvnombre" [(ngModel)]="pdv.nombre">
    <input type="text" name="pdvcp" ng-pattern="/^[a-zA-Z0-9]+$/" [(ngModel)]="pdv.cp"  placeholder="cp">
    <input type="text" name="pdvcolonia" [(ngModel)]="pdv.colonia">
    
    <button [hidden]="add" (click)="addPdv()">add Pdv</button>
</div>
<table id="pdvs">
    <tr>
        <th>Nombre PDV</th>
        <th>Codigo Postal</th>
        <th>Colonia</th>
    </tr>
    <tr *ngFor="let pdv of pdvs">
        <td>{{pdv.nombre}}</td>
        <td>{{pdv.cp}}</td>
        <td>{{pdv.colonia}}</td>
    </tr>
</table>